.navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-icon {
    cursor: pointer;
    margin-right: 10px;
    font-size: 25px;
  }
  
  .search-input {
    display: none;
    position: absolute;
    top: -5px;
    right: 0;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
  }
  
  .search-container:hover .search-input {
    display: inline-block;
  }
  
  .dropdown {
    margin-left: 15px;
  }

  
  .navbar {
    transition: background-color 0.3s;
   
  }
  
  .navbar-transparent {
    background-color: transparent;
  }
  
  .navbar-dark {
    background-color: black;
    color: white
  }

  .navbar-brand{
    color: #3d25b5;
    font-family: cursive;
    font-size: 40px;
    font-weight: 900;
    padding-right: 10px;
 }
.offcanvas-header{
    background-color:transparent;
}
 .offcanvas-body{
  background: transparent;
    
    color:white; 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat
 }
 .sidebarlist{
    list-style: none;
    margin-top: 10px;
    margin-left: 0;

 }
 .sidebarlist li{
    margin-bottom: 15px;
 }


 .btn{
    background-color: transparent;
    border: none;
 }

 .off-body.show{
  width: 300px;
 }
 
 .glass{
  background-color: transparent;
 }
 .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logout{
  margin-top: 560px;
}